@import "../../styles/variables.scss";
@import "../../styles/fonts.scss";

.root {
  width: 100%;
  display: grid;
  place-items: center;
  padding: 2% 0%;
  background-image: url("../../assets/Group\ 49.png");
  background-size: cover;
  height: 530px;
  .wrapper {
    width: 90%;
    display: grid;
    place-items: center;
    h2 {
      color: $white;
      margin: 0;
      font-size: calc(#{$size}* 2);
      font-family: $font-calvetica;
      font-weight: 300;
    }
    div {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      .serv_block {
        flex: 1;
        display: grid;
        place-items: center;
        img {
          width: 100%;
        }
        p {
          color: $white;
          margin: 0;
          text-align: center;
          font-family: $font-proxima;
          font-size: calc(#{$size}/ 1.2);
          font-weight: 600;
        }
      }
    }
  }
}

@media screen and (min-width: 1550px) {
  .root {
    height: 670px;
    .wrapper {
      width: 95%;
      div {
        gap: 1%;
      }
    }
  }
}
@media screen and (max-width: 1100px) {
  .root {
    height: 450px;
  }
}
@media screen and (max-width: 1000px) {
  .root {
    height: 350px;
  }
}
@media screen and (max-width: 900px) {
  .root {
    height: 600px;
    .wrapper {
      div {
        flex-wrap: wrap !important;
        .serv_block {
          flex: 0 0 33%;
          img {
            width: 80%;
          }
          p {
            margin-top: -5%;
            font-size: calc(#{$size});
          }
        }
      }
    }
  }
}
@media screen and (max-width: 650px) {
  .root {
    height: 870px;
    padding-top: 0%;
    .wrapper {
      h2 {
        font-size: 30px;
      }
      div {
        justify-content: center;
        .serv_block {
          flex: 0 0 50%;

          img {
            width: 80%;
          }
          p {
            margin-top: -5%;
            font-size: 16px;
            max-width: 90%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .root {
    padding-top: 0%;
    padding-bottom: 10%;
    height: 800px;
  }
}
