@import "../../styles/variables.scss";
@import "../../styles/fonts.scss";

.root {
  width: 100%;
  display: grid;
  place-items: center;
  overflow-x: hidden;
  padding: 5% 0%;
  padding-top: 0%;
  .wrapper {
    width: 80%;
    display: grid;
    place-items: center;
    h4 {
      font-size: calc(#{$size}* 2);
      font-weight: 800;
      color: $black;
      margin-bottom: 5%;
      border-bottom: 2px solid $red;
      text-align: center;
      font-family: $font-calvetica;
      font-weight: 300;
      padding-bottom: 1%;
    }
    .accordion {
      width: 100%;
      button {
        width: 100%;
        border: none;
        border-bottom: 1px solid #525252;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          opacity: 0.6;
        }
      }
      h4 {
        font-family: $font-calvetica;
        font-weight: 300 !important;
        text-transform: none;
        color: $black;
        font-size: calc(#{$size});
        margin: 2% 0%;
        border-bottom: none;
        padding-bottom: 0%;
      }
      img {
        width: 2%;
        height: 100%;
      }
      div {
        color: $black;
        font-size: calc(#{$size}/ 1.2);
        padding: 0.5% 0%;
        font-family: $font-proxima;
      }
    }
  }
}
@media screen and (max-width: 650px) {
  .root {
    .wrapper {
      width: 90%;
      h4 {
        font-size: 30px;
      }
      .accordion {
        button {
          padding: 2% 0%;
        }
        h4 {
          font-size: 18px;
          text-align: start;
          font-family: $font-proxima;
          font-weight: 400 !important;
        }
        div {
          font-size: 15px;
        }
        img {
          width: 5%;
        }
      }
    }
  }
}
